body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #001aff, #fc9e56);
    overflow-x: hidden;
}
.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.image-container {
    width: 80%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 2s;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.image-container img.visible {
    opacity: 1;
    transform: translateY(0);
}
.image-container img.hidden-up {
    opacity: 0;
    transform: translateY(-100px);
}
.image-container img.hidden-down {
    opacity: 0;
    transform: translateY(100px);
}
.text-overlay {
    transform: translate(-50%, -50%);
    margin-top: 3%;
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s;
}
.text-overlay.visible {
    opacity: 1;
    transform: translateY(0);
}
.text-overlay.hidden-up {
    opacity: 0;
    transform: translateY(-100px);
}
.text-overlay.hidden-down {
    opacity: 0;
    transform: translateY(100px);
}

@media (max-width: 1200px) {
    .section {
        padding: 15px 10px;
    }

    .text-overlay {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    .section {
        min-height: 0px;
        padding: 10px 5px;
    }

    .text-overlay {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .section {
        min-height: 0px;

        padding: 5px 5px;
    }

    .text-overlay {
        font-size: 1.2em;
    }
}