body {
    text-align: center;
    margin-top: 100px;
}

.box-rider {
    width: 100px;
    height: 200px;
    position: relative;
    animation: move 2s infinite linear;
    animation-play-state: paused;
}

.rider {
    width: 200px;
}

.box-road {
    margin-top: -100px;
    margin-bottom: 20px;
}

.road {
    height: 100px;
    width: 100%;
}

#startButton {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #4CAF50, #66BB66);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#speedSlider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    direction: rtl;
}

#speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#4CAF50;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#speedSlider::-webkit-slider-thumb:hover {
    background: #388E3C;
}

@keyframes move {
    from {
        left: 0px;
    }
    to {
        left: 100%;
    }
}